
@{
    ViewBag.Title = "Create";

}

<h2>Create Category</h2>
<form id="createCategory">
    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Destriction</label>
    <input name="Description" />

    <br />

    <label>Image</label>
    <input id="ImageURL" name="ImageURL" type="hidden" />
    <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />

    <div class="thumb">
        <img id="categoryImage" />
    </div>
    <br />

    <label>Is Featured?</label>
    <input name="isFeatured" type="radio" value="True" />True
    <input name="isFeatured" type="radio" value="False" />False

    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
</form>
 
<script>

    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Category/Create',
            data: $("#createProduct").serialize()
        })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });


    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++)
        {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData:false
        })
        .done(function (response) {
            console.log(response);
            if (response.Success)
            {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        }) 
    });
</script>